<section id="dockContainer" class="dock-container">
    <ul class="dock-list-container">
        <img class="dock-introduce-icon dock-icon pointer" src="/assets/introduce-icon.png" />
        <img class="dock-project-icon dock-icon pointer" src="/assets/project-icon.png" />
        <img class="dock-resume-icon dock-icon pointer" src="/assets/resume-icon.png" />
        <img class="dock-terminal-icon dock-icon pointer" src="/assets/terminal-icon.png" />
        <img class="dock-github-icon dock-icon pointer" src="/assets/github-icon.svg" />
        <img class="dock-contacts-icon dock-icon pointer" src="/assets/contacts-icon.png" />
    </ul>
</section>