<section id="dockContainer" class="dock-container">
    <ul class="dock-list-container">
        <img class="dock-introduce-icon dock-icon pointer"
            src="/assets/introduce-icon.png"
            (click)="openApp('introduce')"
        />
        <img class="dock-work-experience-icon dock-icon pointer"
            src="/assets/work-experience-icon.png"
            (click)="openApp('workExperience')"
        />
        <img class="dock-project-icon dock-icon pointer"
            src="/assets/project-icon.png"
            (click)="openApp('project')"
        />
        <img class="dock-terminal-icon dock-icon pointer"
            src="/assets/terminal-icon.png"
            (click)="openApp('terminal')"
        />
        <img class="dock-contacts-icon dock-icon pointer"
            src="/assets/contacts-icon.png"
            (click)="openApp('contact')"
        />
    </ul>
</section>